diy-4-sonali/target/META-INF/mule-src/diy-4/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a8607224-6a27-463b-ba7f-0207bc1c1994" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="8573a2e3-8455-41c7-a4a1-ece4f4bc9170" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="getAccounts" doc:id="c679749e-65c0-4667-8a8f-1537264fde59" >
		<db:select doc:name="Select" doc:id="8eef9f54-9048-4aca-918f-031599d18213" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM flights_customers where accountType=:accountType]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
    accountType: message.attributes.queryParams.'type' default 'personal'
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="08a6b97e-3ac6-44fc-8518-241b5640d3d0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	id: payload01.accountID default "",
	firstName: payload01.name default "",
	lastName: payload01.name default "",
	address: (((payload01.street default "") ++ (payload01.city default "")) ++ (payload01.state default "")) ++ (payload01.postal default ""),
	country: (payload01.country default ""),
	creationDate: payload01.creationDate as String default "",
	accountType: payload01.accountType default "",
	miles: payload01.miles default 0,
	postal: (payload01.postal default "") ++ (payload01.postal default "")
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getAccountsByID" doc:id="9b93dfed-33ec-4c43-9908-6a3ec6d40ecc" >
		<db:select doc:name="Copy_of_Select" doc:id="6cb02398-13b3-4695-b777-b804cc46cb94" config-ref="Database_Config" >
			<db:sql ><![CDATA[SELECT * FROM flights_customers WHERE accountID =:ID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'ID': attributes.uriParams.id}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="950121d0-37f4-4399-9e0e-a4cc308757dd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	accountID: payload01.accountID as Number default 0,
	country: payload01.country default "",
	street: payload01.street default "",
	state: (payload01.state default "") ++ (payload01.miles as String default ""),
	name: payload01.name default "",
	city: payload01.city default "",
	postal: payload01.postal default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
